@import 'tailwindcss';

@theme {
    --color-foreground: white;
    --color-background: black;
    --font-sans: 'Inter', system-ui, sans-serif;
    --font-serif: 'Playfair', serif;
}

@layer base {
    body {
        color: var(--color-foreground);
        background-color: var(--color-background);
        font-family: var(--font-sans);
    }

    h1 {
        font-size: 3rem;
        font-family: var(--font-serif);
    }
}
